// Mono Tone
$core-warm-gray-900: #111111 !default;
$core-warm-gray-800: #303030 !default;
$core-warm-gray-700: #555555 !default;
$core-warm-gray-600: #858585 !default;
$core-warm-gray-500: #999999 !default;
$core-warm-gray-400: #c2c2c2 !default;
$core-warm-gray-300: #d6d6d6 !default;
$core-warm-gray-200: #ebebeb !default;
$core-warm-gray-100: #f5f5f5 !default;
$core-warm-gray-50: #f8f8f8 !default;
$core-warm-gray-10: #fafafa !default;

$core-cool-gray-900: #212529 !default;
$core-cool-gray-800: #343a40 !default;
$core-cool-gray-700: #495057 !default;
$core-cool-gray-600: #868e96 !default;
$core-cool-gray-500: #adb5bd !default;
$core-cool-gray-400: #ced4da !default;
$core-cool-gray-300: #dee2e6 !default;
$core-cool-gray-200: #e9ecef !default;
$core-cool-gray-100: #f1f3f5 !default;
$core-cool-gray-50: #f8f9fa !default;

/* Mono */
$core-black: #000000 !default;
$core-black-900: #2b2b2b !default;
$core-black-800: #333333 !default;
$core-white: #ffffff !default;
$core-global-bg: #f9f9f9 !default;

// Chromatic
$core-green-900: #15bd66 !default;
$core-green-800: #44ca85 !default;
$core-green-500: #8adeb2 !default;
$core-green-300: #b9ebd1 !default;
$core-green-100: #e8f8f0 !default;

$core-blue-green-900: #19bfa1 !default;
$core-blue-green-800: #47ccb4 !default;
$core-blue-green-500: #8cdfd0 !default;
$core-blue-green-300: #baece3 !default;
$core-blue-green-100: #e8f9f6 !default;

$core-blue-900: #1a9cff !default;
$core-blue-800: #48b0ff !default;
$core-blue-500: #8ccdff !default;
$core-blue-300: #bae1ff !default;
$core-blue-100: #e8f5ff !default;

$core-deep-blue-900: #4270ed !default;
$core-deep-blue-800: #688df1 !default;
$core-deep-blue-500: #a0b7f6 !default;
$core-deep-blue-300: #c6d4fa !default;
$core-deep-blue-100: #ecf1fd !default;

$core-purple-900: #8556e3 !default;
$core-purple-800: #9d78e9 !default;
$core-purple-500: #c2aaf1 !default;
$core-purple-300: #daccf7 !default;
$core-purple-100: #f3eefc !default;

$core-pink-900: #f74397 !default;
$core-pink-800: #f969ac !default;
$core-pink-500: #fba1cb !default;
$core-pink-300: #fdc7e0 !default;
$core-pink-100: #feecf5 !default;

$core-red-900: #ff334b !default;
$core-red-800: #ff5c6f !default;
$core-red-500: #ff99a5 !default;
$core-red-300: #ffc2c9 !default;
$core-red-100: #ffebed !default;

$core-orange-900: #ff6f36 !default;
$core-orange-800: #ff8c5e !default;
$core-orange-500: #ffb79a !default;
$core-orange-300: #ffd4c3 !default;
$core-orange-100: #fff1eb !default;

$core-yellow-900: #ffc53d !default;
$core-yellow-800: #ffd164 !default;
$core-yellow-500: #ffe29e !default;
$core-yellow-300: #ffeec5 !default;
$core-yellow-100: #fff9ec !default;
